<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link th:replace="partials/header :: bootstrap">
    <link th:href="@{stylesheet.css}" rel="stylesheet">

</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/navbar :: navbar"></nav>
    <div class="container mt-5">
        <h1 class="text-center">Create a New Post</h1>
        <div class="row">
            <form action="/posts/create" th:method="post" th:object="${createPost}" class="card mx-auto col-md-8">
                <label for="title">Title:</label>
                <input id="title" th:field="*{title}">
                <br>
                <label for="body">Body:</label>
                <textarea id="body" th:field="*{body}"></textarea>
                <br>
                <button class="button" type="submit">Create Post</button>
            </form>
        </div>
    </div>

    <div class="container fixed-bottom">
        <footer th:replace="partials/footer :: footer" class="mt-auto"></footer>
    </div>
</div>
<script th:replace="partials/Bootstrap/bootstrap-script :: bootstrapScript"></script>
</body>
</html>