<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
  <link th:replace="partials/header :: bootstrap">

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

  <h1>Create a New Post</h1>
  <form action="/posts/create" th:method="post" th:object="${createPost}">
    <label for="title">Title:</label>
    <input id="title" th:field="*{title}">
    <br>
    <label for="body">Body:</label>
    <textarea id="body" th:field="*{body}"></textarea>
    <br>
    <input type="submit" value="Create Post">
  </form>
<div class="container fixed-bottom">
  <footer th:replace="partials/footer :: footer" class="mt-auto"></footer>
</div>
<script th:replace="partials/Bootstrap/bootstrap-script :: bootstrapScript"></script>
</body>
</html>