<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link th:replace="partials/header :: bootstrap">

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1 th:text="${post.title}"></h1>
<p th:text="${post.body}"></p>
<p th:text="${post.getUsers().getEmail()}"></p>
<div class="container fixed-bottom">
    <footer th:replace="partials/footer :: footer" class="mt-auto"></footer>
</div>
<script th:replace="partials/Bootstrap/bootstrap-script :: bootstrapScript"></script>

</body>
</html>