<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Sign up</title>
    <link th:replace="partials/header :: bootstrap">
    <link th:replace="partials/header :: stylesheet" />
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="page-wrapper">
    <div class="container mt-5">
        <h1 class="text-center">Create an account</h1>
        <div class="row">
            <form th:action="@{/sign-up}" method="POST" th:object="${user}" class="card mx-auto col-md-8">
                <label for="username">Username</label>
                <input id="username" th:field="*{username}" class="form-control"/>

                <label for="email">Email</label>
                <input id="email" th:field="*{email}" class="form-control"/>

                <label for="password">Password</label>
                <input id="password" type="password" th:field="*{password}" class="form-control"/>
                <div class="form-group text-center">
                    <button class="button w-25 py-2 mt-4" type="submit">Create Account</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container fixed-bottom">
        <footer th:replace="partials/footer :: footer" class="mt-auto"></footer>
    </div>
</div>
<script th:replace="partials/Bootstrap/bootstrap-script :: bootstrapScript"></script>

</body>
</html>
