<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link th:replace="partials/header :: bootstrap">

</head>
<body>
<div class="page-wrapper">
    <nav th:replace="partials/navbar :: navbar"></nav>

    <h1>This is the home page</h1>

    <div class="container fixed-bottom">
        <footer th:replace="partials/footer :: footer" class="mt-auto"></footer>
    </div>
</div>

<script th:replace="partials/Bootstrap/bootstrap-script :: bootstrapScript"></script>

</body>
</html>
